@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap");

body {
  background-color: #000B15;
}

.project-title-description {
  margin-left: 100px;
  margin-right: 100px;
}
.project-title-description h2 {
  margin-top: 120px;
  font-size: 51px;
  font-weight: 400px;
  color: white;
  margin-bottom: 21px;
  font-family: Inter;
}

.project-title-description p {
  font-size: 18px;
  font-weight: 300;
  font-family: Inter;
  color: rgba(255, 255, 255, 0.53);
}

.research-section button {
  height: 48px;
  width: 180px;
  background-color: #2e9bff;
  color: white;
  font-size: 18px;
  border-radius: 8px;
}
.research-section p {
  font-size: 16px;
  font-weight: 300;
  font-family: Inter;
  margin-top: 0;
  color: rgba(255, 138, 0, 1);
}

.research-section h3 {
  font-size: 22px;
  color: white;
  font-family: Inter;
  font-weight: 500;
  margin-bottom: 21px;
}

.research-section {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
}

.project-overview-section {
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 100px;
}

.project-overview-section h3 {
  font-size: 22px;
  color: white;
  font-family: Inter;
  font-weight: 500;
  margin-bottom: 21px;
}
